<div class="rt-lucky-spin-wheel" {{did-update this.onResultChanged @result}}>
  {{! 箭头朝下指向圆心（常见转盘）；原先 border-bottom 三角形在顶部时等价于「朝上」，易感觉反了 }}
  <div class="rt-lucky-spin-wheel__pointer" aria-hidden="true"></div>

  <div
    class="rt-lucky-spin-wheel__wheel {{if this.animating 'is-animating'}}"
    style={{this.wheelStyle}}
    aria-label="Lucky Spin Wheel"
  >
    <div class="rt-lucky-spin-wheel__face" style={{this.faceStyle}}></div>
    {{#each this.segments as |seg i|}}
      <span class="rt-lucky-spin-wheel__label" style={{this.labelStyle i}}>{{seg.displayLabel}}</span>
    {{/each}}
  </div>
</div>
